* {
    box-sizing: border-box;
}

body,
input
 {
    font-family: 'Miriam Libre', sans-serif;
}

input {
    height: 30px;
    padding-left: 5px;
}

input:focus {
    outline: none;
}

/*centers page content*/
.page-wrapper {
    width: 75%;
    margin: 0 auto;
}

.input-field {
    padding: 25px;
    width: 300px;
    margin: 0 auto;
}

.input-field input {
    width: 100%;
    border-radius: 5px;
}

/*removes default padding from list*/
.thumbnails {
    padding: 0;
}

li {
    list-style: none;
}

.thumbnails li img {
    width: 50%;
    float: left;
    padding: 15px;
}

span.lb-caption {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding-top: 25px;
}

.lb-data .lb-details {
    width: 100%
}

.lb-data .lb-caption {
    line-height: 1.5em;
    font-weight: normal;
}

.lb-data .lb-close {
    display: none;
}

/*Media Queries*/

@media screen and (min-width: 768px) {

    .thumbnails li img {
        width: 25%;
        padding: 25px;
    }
}